:root{
    --theme-bg:#12141D;
    --theme-font:#ffffff;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--theme-bg);
}

.header{
    width:100% ;
    height: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.container{
    max-width: 1110px;
    height: 100%;
    margin: 15px auto;
}
.logo{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    color: var(--theme-font);
}
.navbar{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--theme-font);
    width:40% ;
    display: flex;
    justify-content: space-between;
}
.navbar-text{
    font-size: 14px;
    line-height: 21px;
    flex-direction: row;
}
.contact-button{
    width: 153px;
    height: 53px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: var(--theme-font);
    background-color: #4080BF;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.hero-bg-img{
    /* background: linear-gradient(106.17deg, rgba(40, 40, 40, 0.56) -25.28%, rgba(38, 38, 38, 0.24) 123.88%); */
    border-radius: 20px;
    margin-top: 50px;
    position: relative;
}
.hero-svg{
    opacity: 0.6;
}
.hero-content{
    max-width: 747px;
    max-height:355px ;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 90px;
}
.hero_digital{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 61px;
    line-height: 92px;
    color: var(--theme-font);
    padding-bottom: 10px;
}
.hero_lets{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
    color: var(--theme-font);
    padding-bottom: 30px;
}