:root{
    --theme-bg:#12141D;
    --theme-font:#ffffff;
    --theme-font-button:#A1C5E9;
    --theme-bg-block:#1E2028;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--theme-bg);
}


                /* NavBar */


                .header{
    width:100% ;
    height: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: -35px;
}
.container{
    max-width: 1110px;
    height: 100%;
    margin: 50px auto;
}
.logo{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    color: var(--theme-font);
}
.navbar{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--theme-font);
    width:40% ;
    display: flex;
    justify-content: space-between;
}
.navbar-text{
    font-size: 14px;
    line-height: 21px;
    flex-direction: row;
    cursor: pointer;
}
.contact-button{
    width: 153px;
    height: 53px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: var(--theme-font);
    background-color: #4080BF;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

                /* Hero */


.hero-bg-img{
    border-radius: 20px;
    margin-top: 50px;
    position: relative;
    margin: 50px auto;
}
.hero-svg{
    opacity: 0.6;
}
.hero-content{
    max-width: 747px;
    max-height:355px ;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 90px;
}
.hero_digital{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 61px;
    line-height: 92px;
    color: var(--theme-font);
    padding-bottom: 10px;
}
.hero_lets{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
    color: var(--theme-font);
    padding-bottom: 30px;
}

                /* About Us */

.about-us-content-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 70px;
    color: var(--theme-font);
    padding-top: 100px;
}
.img-icon{
    display: flex;
    flex-direction: row;
}
.flexible-text-title, .trainers-text-title, .track-text-title, .new_friends-text-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-transform: capitalize;
    color: var(--theme-font);
    text-transform: capitalize;
    margin: 5px 0;
}
.flexible-text-cont, .trainers-text-cont, .track-text-cont, .new_friends-text-cont{
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: var(--theme-font);
    text-transform: capitalize;
}
svg{
    margin:10px 30px 0 10px;
}
.abus-menu-block{
    margin-top: 40px;
    display:flex;
    flex-wrap:wrap;
}
.block{
    margin: 15px 0;
    flex: 0 1 50%;
}
.servise-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 83px;
    text-align: center;
    text-transform: capitalize;
    color: var(--theme-font);
    margin-top: 100px;
}
.content-block-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    color: var(--theme-font);
    padding: 50px 0 10px 0;
    margin-left: 20px;
}
.content-block-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: var(--theme-font);
    margin:0 20px 0 20px;
}
.services-block-button{
    background-color:var(--theme-bg-block);
    border: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--theme-font-button);
    display: flex;
    justify-content:center;
    cursor: pointer;
}
.services-content{
    margin-top: 40px;
    display:flex;
    flex-wrap:wrap;
}
.services-content-block{
    background-color: var(--theme-bg-block);
    border-radius: 10px;
    flex: 0 1 30%;
    text-align: start;
    margin: 15px;
}
.content-block-button{
    margin-top: 50px;
    padding-bottom: 20px;
}
.content-heading{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}
.content-heading-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 70px;
    color: var(--theme-font);
}
.content-heading-button button{
    background: var(--theme-bg);
    border: 0;
    cursor: pointer;
}

                /* Project */

.content-img{
    border:0;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
}
.img-project{
    max-width: 540px;
    max-height: 370px;
    border:0;
    flex:0 1 50%;
    margin-bottom: 30px;
    cursor: pointer;
}
.img-project1, .img-project3{
    margin-right: 30px;
}

                /* Founder */

.founder-meet-block{
    display: flex;
    justify-content:space-between ;
    align-items:flex-end;
}
.founder-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    color: var(--theme-font);
    margin: 50px auto;
}
.meet-text-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: var(--theme-font);
    margin: 10px;
}
.meet-text-about{
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: var(--theme-font);
    margin:auto 10px 60px 10px;
}
.meet-img{
    border: 0;
}
.jhondoe{
    border-radius: 100px 0 0 0;
}
.doejhon{
    border-radius: 0 100px 0 0;
}
.jhonkey{
    border-radius:0 0 0 100px;
}
.kekey{
    border-radius: 0 0 100px 0;
}
.founder-content-block1{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.founder-content-block2{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.founder-content{
    display: flex;
    justify-content:space-between;
}
.block-jhondoe, .block-doejhon{
    margin-bottom: 30px;
}

                /* Testimonial */

.left-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 83px;
    color: var(--theme-font);
}
.left-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
    color: var(--theme-font);
}
.right-block-container{
    width: 570px;
    height: 500px;
    background-color:var(--theme-bg-block);
    border-radius: 10px;
}
.right-block{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding:35px 40px 50px 25px;
}
.right-block-img{
    max-width: 80px;
    max-height: 70px;
    margin-left:auto;
}
.right-block-profile{
    display: flex;
    align-items: top;
}
.profile-content-title{
    margin: 5px 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--theme-font);
}
.profile-content-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: var(--theme-font);
}
.right-block-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 31px;
    color: var(--theme-font);
}
.block-profile-icon{
    margin: 0 20px 20px 0;
}
.testomonial-content{
    margin: 150px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.testomonial-content-left{
    padding: 50px;
}

                /* CTA */

.cta{
    background-color:var(--theme-bg-block);
}
.cta-content-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 80px;
    text-align: center;
    color: var(--theme-font);
    margin: 50px auto;
    padding-top: 50px;
}
.cta-content-button{
    text-align: center;
}
.testi-clients-number, .testi-project-number, .testi-awards-number{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: var(--theme-font);
}
.testi-clients-text, .testi-project-text, .testi-awards-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--theme-font);
}
.cta-content-testi{
    max-width: 780px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
.testi-clients, .testi-project, .testi-awards{
    text-align: center;
    flex: 0 1 33.333%;
    max-width: 240px;
    border: solid 3px var(--theme-font);
    border-top: 0;
    border-bottom: 0;
}
            /* Footer */

.footer-container-block{
    display: flex;
    flex-direction: column;

}
.footer-logo{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    color: var(--theme-font);
    margin-bottom: 10px;
}
.footer-copyright{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: var(--theme-font);
    margin-bottom: 20px;
}
.block-company-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: var(--theme-font);
}
.block-company-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: var(--theme-font);
}